<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: Jowan Bruyninckx</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.owner.disqus-shortname and page.comments == true %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="article-author-side">
  {% include _author-bio.html %}
</div>

<div id="index">
  <h3><a href="{{ site.url}}/about/">Short Intro</a></h3>

<p>I am an associate professor in the department of literature at the <a href="https://www.uantwerpen.be/en/">University of Antwerp</a> in Belgium. I enjoy research in computational text analysis, in particular for historic texts. Much of my work can be situated in the Digital Humanities, an international movement in which scholars from the conventional Humanities (linguistics, literary studies, history, ...) explore how digital methods and computation can support, enhance and transform traditional forms of research and teaching. Recent advances in computing technologies have, for instance, made it possible to mine cultural insights from immense text collections via "Distant Reading". Our era thus has the historic privilege of being to able to witness and stimulate the emergence of exciting new computational research possibilities, across the Humanities at large.</p>

<p>Authorship attribution is one of my main areas of expertise: in the innovative research domain of stylometry (computational stylistics), we design computational algorithms which can automatically identify the authors of anonymous texts through the quantitive analysis of individual writing styles. In my research, I have often applied stylometry to historic literature, which has often survived anonymously. Computational analyses have the advantage that they induce serendipity in textual analysis: a computer makes us aware of things that the eye of the human reader tends to skip. If you want to know more about my research, do check out the <a href="vimeo.com/70881172">professional online documentary</a> we made about this topic ("Autorship and Stylometry: Hildegard of Bingen").</p>

<p>I am an enthusiast of the <a href="http://deeplearning.net/">Deep Learning movement</a> in Computer Science, a promising and fast-developing research domain in which neural networks are used to mimick the human mind's astonishing capabilities with respect to vision or language comprehension. A number of truly inspiring pieces have recently been published in this field about <a href="http://static.googleusercontent.com/media/research.google.com/en/archive/unsupervised_icml2012.pdf">cats</a>, <a href="http://research.microsoft.com/pubs/189726/rvecs.pdf">kings and queens</a> or <a href="http://papers.nips.cc/paper/5004-deep-content-based-music-recommendation.pdf">music</a>, introducing powerful techniques that simply beg to be applied in the Humanities.</p>

<p>In the past, I have taught various courses and workshops on Digital Text Analysis, Corpus and Computational Linguistics, Programming for the Humanities and medieval philology. I code in Python, tweet in English, and live in Brussels.</p>
</p>
</div>
<!--
<div id="index">
  <h3><a href="{{ site.url}}/posts/">Recent Posts</a></h3>
  {% for post in site.posts limit:5 %}    
  <article>
    {% if post.link %}
      <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></h2>
    {% else %}
      <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
      <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
    {% endif %}
  </article>
  {% endfor %}
</div>
-->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
  
</body>
</html>
